<ion-content class="profile-content">
  <div class="profile-container">
    <div class="avatar-container">
      <div class="avatar">
        <ion-icon name="person-circle-outline" class="profile-icon"></ion-icon>
      </div>
    </div>
    <div class="profile-info">
      <p class="username">{{ nombre || "Usuario Anónimo" }}</p>
      <p class="email">{{ email || "Introduce tu email" }}</p>
    </div>
  </div>

  <ion-list class="profile-list">
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre" placeholder="Introduce tu nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input [(ngModel)]="email" placeholder="Introduce tu email"></ion-input>
    </ion-item>

    <ion-item lines="none" class="spins-info">
      <ion-label>Tiradas Disponibles</ion-label>
      <ion-note slot="end">{{ spinsLeft }}</ion-note>
    </ion-item>
  </ion-list>

  <div class="update-button-container">
    <ion-button expand="block" (click)="updateProfile()">Actualizar Perfil</ion-button>
  </div>

  <div *ngIf="purchasedItems.length > 0" class="purchased-items-container">
    <h2>Artículos Comprados</h2>
    <div class="purchased-items-list">
      <div *ngFor="let item of purchasedItems" class="purchased-item-card">
        <div class="icon-container">
          <img [src]="item.image" alt="{{ item.name }}" />
        </div>
        <h3 class="item-name">{{ item.name }}</h3>
        <p class="item-description">{{ item.description }}</p>
      </div>
    </div>
  </div>

  <div *ngIf="updateMessage" class="update-message">
    {{ updateMessage }}
  </div>
</ion-content>
