<ion-content>
  <div class="videos-container">
    <div *ngFor="let video of videos" class="video-card" (click)="playVideo(video.id.videoId)">
      <img [src]="video.snippet.thumbnails.medium.url" alt="Video Thumbnail" class="video-thumbnail" />
      <div class="video-info">
        <h3 class="video-title">{{ video.snippet.title }}</h3>
        <p class="video-description">{{ video.snippet.description }}</p>
      </div>
    </div>
  </div>

  <!-- Componente de reproducción en pantalla completa -->
  <app-video-player
    *ngIf="selectedVideoId"
    [videoId]="selectedVideoId"
    (close)="closeVideoPlayer()"
  ></app-video-player>
</ion-content>
