<ion-content scroll-y="false">
  <div class="game-container">
    <h2>Matemáticas Rápidas</h2>
    <p>Resuelve tantas operaciones como puedas antes de que se acabe el tiempo.</p>
    <div class="timer">Tiempo restante: {{ timeLeft }} segundos</div>
    
    <div class="math-question">
      <p>{{ currentQuestion }}</p>
    </div>

    <ion-input 
      type="number" 
      [(ngModel)]="playerAnswer" 
      placeholder="Escribe tu respuesta aquí"
      class="answer-input">
    </ion-input>

    <ion-button expand="full" color="primary" (click)="checkAnswer()">Comprobar</ion-button>

    <p>Puntuación: {{ score }}</p>

    <div class="game-over" *ngIf="gameOver">
      <h2>¡Juego terminado!</h2>
      <p>Tu puntuación final es: {{ score }}</p>
      <ion-button expand="full" color="success" (click)="startGame()">Jugar de nuevo</ion-button>
    </div>
  </div>
</ion-content>
